@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    background-color: #FFCE00;
    height: 100px;
    width: 100%;
    min-width: 900px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    size: 24px;
    text-decoration: none;
    color: blueviolet;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.Mee{
    width: 100vw;
    height: 50vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.mee_avatar img{
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}

.kartinki{
    width: 128px;

}

.Prohod_1_html{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
